BasedOnStyle: Chromium
ColumnLimit: 90
IndentWidth: 4
AccessModifierOffset: -2

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BreakAfterAttributes: Always
BreakTemplateDeclarations: Yes

AlignOperands: Align
BreakBeforeBinaryOperators: NonAssignment

ForEachMacros: ["rep", "rrep"]
