BasedOnStyle: Chromium
ColumnLimit: 0
IndentWidth: 4
AccessModifierOffset: -2

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

BreakAfterAttributes: Always
BreakTemplateDeclarations: Yes

AlignOperands: Align
BreakBeforeBinaryOperators: NonAssignment

ForEachMacros: ["rep", "rrep"]
